*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC",
    "Microsoft YaHei", "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei",
    sans-serif;
  font-size: @commonFontSize;
  color: @default_black;
  background: #f5f5f9;
  text-size-adjust: 100% !important;
}
a {
  color: @default_black;
  text-decoration: none;
}
img {
  display: block;
  border: 0;
}
ul {
  li {
    list-style: none;
  }
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
